In [1]:
import pandas as pd

# Load the JSON file into a DataFrame
df = pd.read_json('data/avs-metadata.json')

# Display the DataFrame
df.head()

   lastUpdated                                              value
0   1728233296  {'address': '0x870679e138bcdf293b7ff14dd44b70f...
1   1728233296  {'address': '0x35f4f28a8d3ff20eed10e087e8f96ea...
2   1728233296  {'address': '0x23221c5bb90c7c57ecc1e75513e2e42...
3   1728233296  {'address': '0xd25c2c5802198cb8541987b73a8db4c...
4   1728233296  {'address': '0x1de75eaab2df55d467494a172652579...