In [13]:
import pandas as pd

# Load the JSON file into a DataFrame
df = pd.read_json('data/avs-metadata.json')

# Normalize the 'value' field to expand its content
value_df = pd.json_normalize(df['value'])

# Concatenate the original DataFrame with the expanded 'value' DataFrame
df_expanded = pd.concat([df.drop(columns=['value']), value_df], axis=1)

# Display the expanded DataFrame
df_expanded.head()

# Load the operators metadata JSON file into a DataFrame
operators_df = pd.read_json('data/operators-metadata.json')

# Normalize the 'value' field in the operators DataFrame
operators_value_df = pd.json_normalize(operators_df['value'])

# Concatenate the original operators DataFrame with the expanded 'value' DataFrame
operators_df_expanded = pd.concat([operators_df.drop(columns=['value']), operators_value_df], axis=1)

# Display the expanded operators DataFrame
#operators_df_expanded.head()

In [14]:
import json

# Load the avs-tvl-by-day.json file
with open('data/avs-tvl-by-day.json') as f:
    avs_tvl_data = json.load(f)

# Convert the nested JSON structure into a DataFrame
avs_tvl_df = pd.json_normalize(
    [
        {"date": date, "avs": avs, **details}
        for date, avs_data in avs_tvl_data.items()
        for avs, details in avs_data.items()
    ]
)

# Display the DataFrame
avs_tvl_df.head()

,date,avs,avsAddress,operators,totalUsdValue,totalValueDenominatedInEth,shares.ankrETH.amount,shares.ankrETH.usdValue,shares.cbETH.amount,shares.cbETH.usdValue,...,shares.WBETH.amount,shares.WBETH.usdValue,shares.LsETH.amount,shares.LsETH.usdValue,shares.sfrxETH.amount,shares.sfrxETH.usdValue,shares.ethereum.amount,shares.ethereum.usdValue,shares.EIGEN.amount,shares.EIGEN.usdValue
0,2024-04-10,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,"[0x4cd2086e1d708e65db5d4f5712a9ca46ed4bbd0a, 0...",1.463026e+08,41757.164416,3.004459e+00,1.213501e+04,1573.763733,5.858991e+06,...,759.108752,2.752030e+06,0.120624,440.574249,1692.133620,6.380605e+06,2176.0,7.623950e+06,0.0,0
1,2024-04-11,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,"[0x4cd2086e1d708e65db5d4f5712a9ca46ed4bbd0a, 0...",9.593861e+08,271031.154211,3.098139e+02,1.261895e+06,5673.175822,2.134426e+07,...,22388.854451,8.196196e+07,6.810447,25194.498193,1826.187504,6.954844e+06,171232.0,6.061207e+08,0.0,0
2,2024-04-11,0xd25c2c5802198cb8541987b73a8db4c9bcae5cc7,0xd25c2c5802198cb8541987b73a8db4c9bcae5cc7,"[0xa83e07353a9ed2af88e7281a2fa7719c01356d8e, 0...",4.457116e+07,12591.564943,1.383243e+02,5.634048e+05,1350.558593,5.081224e+06,...,2979.776911,1.090848e+07,0.160567,594.001660,0.000000,0.000000e+00,3008.0,1.064761e+07,0.0,0
3,2024-04-11,0x9fc952bdcbb7daca7d420fa55b942405b073a89d,0x9fc952bdcbb7daca7d420fa55b942405b073a89d,"[0x4cd2086e1d708e65db5d4f5712a9ca46ed4bbd0a, 0...",2.610361e+08,73743.941673,1.387842e+02,5.652781e+05,1238.005313,4.657763e+06,...,22095.156662,8.088678e+07,0.024017,88.847899,32.175630,1.225375e+05,31904.0,1.129326e+08,0.0,0
4,2024-04-11,0x71a77037870169d47aad6c2c9360861a4c0df2bf,0x71a77037870169d47aad6c2c9360861a4c0df2bf,"[0xa83e07353a9ed2af88e7281a2fa7719c01356d8e, 0...",1.532077e+08,43281.896994,1.000000e-18,4.073073e-15,1032.570134,3.884852e+06,...,22093.156662,8.087946e+07,0.010567,39.093208,1.471480,5.603977e+03,5216.0,1.846340e+07,0.0,0

In [15]:
# Expand operators into separate rows
avs_tvl_expanded_df = avs_tvl_df.explode('operators')

# Display the expanded DataFrame
avs_tvl_expanded_df.head()

,date,avs,avsAddress,operators,totalUsdValue,totalValueDenominatedInEth,shares.ankrETH.amount,shares.ankrETH.usdValue,shares.cbETH.amount,shares.cbETH.usdValue,...,shares.WBETH.amount,shares.WBETH.usdValue,shares.LsETH.amount,shares.LsETH.usdValue,shares.sfrxETH.amount,shares.sfrxETH.usdValue,shares.ethereum.amount,shares.ethereum.usdValue,shares.EIGEN.amount,shares.EIGEN.usdValue
0,2024-04-10,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,0x4cd2086e1d708e65db5d4f5712a9ca46ed4bbd0a,1.463026e+08,41757.164416,3.004459,12135.011537,1573.763733,5.858991e+06,...,759.108752,2.752030e+06,0.120624,440.574249,1692.13362,6.380605e+06,2176.0,7.623950e+06,0.0,0
0,2024-04-10,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,0xe5801326014db4f6729264db38f5f5430bc2fbfa,1.463026e+08,41757.164416,3.004459,12135.011537,1573.763733,5.858991e+06,...,759.108752,2.752030e+06,0.120624,440.574249,1692.13362,6.380605e+06,2176.0,7.623950e+06,0.0,0
0,2024-04-10,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,0xf80b7ba7e778abf08a63426886ca40189c7ef48a,1.463026e+08,41757.164416,3.004459,12135.011537,1573.763733,5.858991e+06,...,759.108752,2.752030e+06,0.120624,440.574249,1692.13362,6.380605e+06,2176.0,7.623950e+06,0.0,0
0,2024-04-10,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,0xd172a86a0f250aec23ee19c759a8e73621fe3c10,1.463026e+08,41757.164416,3.004459,12135.011537,1573.763733,5.858991e+06,...,759.108752,2.752030e+06,0.120624,440.574249,1692.13362,6.380605e+06,2176.0,7.623950e+06,0.0,0
0,2024-04-10,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,0xa3ff1491088715d140bc821a28287cb3f71b43e4,1.463026e+08,41757.164416,3.004459,12135.011537,1573.763733,5.858991e+06,...,759.108752,2.752030e+06,0.120624,440.574249,1692.13362,6.380605e+06,2176.0,7.623950e+06,0.0,0

In [20]:
def add_names_to_addresses(df, metadata_df, address_col, name_col):
    """
    Add names from metadata to the addresses in the DataFrame.
    
    Parameters:
    df (DataFrame): The DataFrame containing the addresses.
    metadata_df (DataFrame): The metadata DataFrame with names and addresses.
    address_col (str): The column name for addresses in df.
    name_col (str): The column name for names in metadata_df.
    
    Returns:
    DataFrame: The updated DataFrame with names added to addresses.
    """
    # Create a mapping from address to name
    address_to_name = metadata_df.set_index('address')[name_col].to_dict()
    
    # Add names to the addresses
    df[address_col] = df[address_col].map(lambda x: f"{x} ({address_to_name.get(x, 'Unknown')})")
    return df

# Add names to AVS addresses
avs_tvl_df = add_names_to_addresses(avs_tvl_df, df_expanded, 'avs', 'metadata.name', 'avs_name')

# Add names to operator addresses
avs_tvl_expanded_df = add_names_to_addresses(avs_tvl_expanded_df, operators_df_expanded, 'operators', 'name', 'operator_name')

# Display the updated DataFrames
avs_tvl_df.head()#, avs_tvl_expanded_df.head()

,date,avs,avsAddress,operators,totalUsdValue,totalValueDenominatedInEth,shares.ankrETH.amount,shares.ankrETH.usdValue,shares.cbETH.amount,shares.cbETH.usdValue,...,shares.WBETH.amount,shares.WBETH.usdValue,shares.LsETH.amount,shares.LsETH.usdValue,shares.sfrxETH.amount,shares.sfrxETH.usdValue,shares.ethereum.amount,shares.ethereum.usdValue,shares.EIGEN.amount,shares.EIGEN.usdValue
0,2024-04-10,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0 (Ei...,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,"[0x4cd2086e1d708e65db5d4f5712a9ca46ed4bbd0a, 0...",1.463026e+08,41757.164416,3.004459e+00,1.213501e+04,1573.763733,5.858991e+06,...,759.108752,2.752030e+06,0.120624,440.574249,1692.133620,6.380605e+06,2176.0,7.623950e+06,0.0,0
1,2024-04-11,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0 (Ei...,0x870679e138bcdf293b7ff14dd44b70fc97e12fc0,"[0x4cd2086e1d708e65db5d4f5712a9ca46ed4bbd0a, 0...",9.593861e+08,271031.154211,3.098139e+02,1.261895e+06,5673.175822,2.134426e+07,...,22388.854451,8.196196e+07,6.810447,25194.498193,1826.187504,6.954844e+06,171232.0,6.061207e+08,0.0,0
2,2024-04-11,0xd25c2c5802198cb8541987b73a8db4c9bcae5cc7 (Wi...,0xd25c2c5802198cb8541987b73a8db4c9bcae5cc7,"[0xa83e07353a9ed2af88e7281a2fa7719c01356d8e, 0...",4.457116e+07,12591.564943,1.383243e+02,5.634048e+05,1350.558593,5.081224e+06,...,2979.776911,1.090848e+07,0.160567,594.001660,0.000000,0.000000e+00,3008.0,1.064761e+07,0.0,0
3,2024-04-11,0x9fc952bdcbb7daca7d420fa55b942405b073a89d (Br...,0x9fc952bdcbb7daca7d420fa55b942405b073a89d,"[0x4cd2086e1d708e65db5d4f5712a9ca46ed4bbd0a, 0...",2.610361e+08,73743.941673,1.387842e+02,5.652781e+05,1238.005313,4.657763e+06,...,22095.156662,8.088678e+07,0.024017,88.847899,32.175630,1.225375e+05,31904.0,1.129326e+08,0.0,0
4,2024-04-11,0x71a77037870169d47aad6c2c9360861a4c0df2bf (Al...,0x71a77037870169d47aad6c2c9360861a4c0df2bf,"[0xa83e07353a9ed2af88e7281a2fa7719c01356d8e, 0...",1.532077e+08,43281.896994,1.000000e-18,4.073073e-15,1032.570134,3.884852e+06,...,22093.156662,8.087946e+07,0.010567,39.093208,1.471480,5.603977e+03,5216.0,1.846340e+07,0.0,0